:root {
  --colorPrincipal: #181a1b;
  --colorSecundario: #364f5c;
  --colorTerciario: #a8b6bd;
  --colorFont: #fff;
  --colorFontSecundario: #a3b1b8;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 2rem;
}

/* GLOBALES */

.contenedor {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */

.header-fondo {
  background-color: var(--colorPrincipal);
  padding: 2rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  color: var(--colorFont);
  font-size: 4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.logo:hover {
  color: var(--colorFontSecundario);
}

.redes {
  display: flex;
}

.svg {
  margin-right: 1rem;
}
.svg:last-of-type {
  margin-right: 0;
}

/* NAVEGACIÓN */

.navegacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--colorSecundario);
  margin: 0;
}

.navegacion li {
  list-style: none;
}

.navegacion__a {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--colorFont);
  transition: all 0.3s;
  display: block;
  padding: 1.6rem 3rem;
  text-align: center;
}

.navegacion__a:hover {
  background-color: var(--colorPrincipal);
}

@media (min-width: 1000px) {
  .navegacion {
    flex-direction: row;
  }
}

/* MAIN */
h1 {
  margin: 3rem;
  text-align: center;
  font-size: 5rem;
}

.parrafo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;
}

.parrafo p {
  margin: 0;
}

.profesores {
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
  flex-direction: column;
}

.profesores p {
  text-align: center;
  margin: 0;
}

.profesores img {
  width: 20rem;
  height: 25rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .parrafo {
    flex-direction: row;
    gap: 3rem;
  }

  .profesores {
    flex-direction: row;
  }
}

.biografia {
  background-color: var(--colorSecundario);
  padding: 1rem 0;
  color: var(--colorFont);
  border: 0.3rem solid var(--colorPrincipal);
  border-radius: 1rem;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--colorFont);
  font-size: 1.6rem;
  line-height: 3rem;
}

.footer li {
  list-style: none;
  margin: 0;
  line-height: 3.2rem;
}

.footer a {
  color: var(--colorFont);
  text-decoration: none;
  font-size: 1.6rem;
}

.footer a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .svg {
    display: flex;
    align-items: center;
  }
}

/* INSCRIPCIÓN */

.inscripcion p {
  text-align: center;
  margin-bottom: 1rem;
}

.flex-inscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  background-color: var(--colorSecundario);
  padding: 5rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
  color: #fff;
  -webkit-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
}

.flex-inscripcion label {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
}

.flex-inscripcion input {
  margin-bottom: 2rem;
  border-radius: 1rem;
  height: 3.5rem;
  width: 100%;
  border: none;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}

.boton-inscripcion {
  border: none;
  background-color: #2695f0;
  transition: all 0.2s;
}

.boton-inscripcion:hover {
  cursor: pointer;
  background-color: #2db0f7;
}

/* ESTABLECIMIENTOS */

h2 {
  text-align: center;
  margin: 2rem auto;
  text-transform: uppercase;
}

.buscador {
  background-color: #a8b6bd;
  height: 7rem;
  margin: 2rem 0;
  border-radius: 3rem;
  border: 0.1rem solid var(--colorPrincipal);
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.58);
}
.buscador input {
  margin: 1rem 1rem;
  width: 20rem;
  height: 5rem;
  border: none;
  background-color: #a8b6bd;
  outline: none;
}

@media (min-width: 768px) {
  .buscador input {
    width: 100rem;
  }
}

.buscador i {
  margin-left: 1.6rem;
  font-size: 3rem;
  position: relative;
  top: 0.5rem;
}

.buscador i:hover,
input:hover {
  cursor: pointer;
}

.caja {
  background-color: var(--colorSecundario);
  padding: 2rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .caja {
    background-color: transparent;
  }
}

.caja:hover {
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.58);
  cursor: pointer;
}

.establecimiento {
  background-color: var(--colorTerciario);
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .establecimiento {
    border: 0.1rem solid var(--colorPrincipal);
  }
}

.establecimiento:hover {
  cursor: pointer;
  background-color: var(--colorPrincipal);
}

.flex-establecimiento {
  gap: 2rem;
  margin: 5rem 0;
  align-items: center;
}

@media (min-width: 768px) {
  .flex-establecimiento {
    justify-content: start;
    gap: 3rem;
  }
}

.info-establecimiento {
  font-size: 1.8rem;
  color: #fff;
}

@media (min-width: 768px) {
  .info-establecimiento {
    color: #000;
  }
}

.info-establecimiento p {
  margin-bottom: 0.5rem;
}

.info-establecimiento h3 {
  margin: 2rem 0;
  text-transform: uppercase;
}

.info-establecimiento span {
  font-weight: bold;
}

.boton {
  background-color: #2695f0;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s;
  text-align: center;
}

@media (min-width: 768px) {
  .boton {
    background-color: var(--colorTerciario);
    border: 0.1rem solid var(--colorPrincipal);
  }
}

.boton:hover {
  color: #fff;
  background-color: var(--colorPrincipal);
}

/* ESTABLECIMIENTO DETALLADO */

.establecimiento-detallado {
  width: 60rem;
  height: 40rem;
}

.flex-establecimiento-detallado {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 2.5rem;
}

@media (min-width: 768px) {
  .flex-establecimiento-detallado {
    flex-direction: row;
    justify-content: start;
  }
}

.info-establecimiento-detallado {
  line-height: 3.5rem;
  font-size: 2.4rem;
}

/*
Ariel Serur CONTACTOS
*/

.mainContacto {
  background-color: var(--colorSecundario);
  width: 95%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
  border-radius: 20px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
}
#textarea {
  resize: none;
  margin-bottom: 2rem;
  border-radius: 1rem;
  width: 100%;
  border: none;
}
.enviar {
  background-color: #fff;
  margin-left: 210px;
}
.item1cont input {
  margin-bottom: 2rem;
  border-radius: 1rem;
  height: 3.5rem;
  border: none;
}
.item1cont {
  order: 1;
  width: 33%;
  height: 33%;
  margin: 10px 70px 0px 150px;
  padding: 100px 50px 5px 50px;
  text-align: left;
  box-sizing: border-box;
  border-radius: 150px;
}
.item2cont li {
  list-style: none;
}
.item2cont svg {
  text-align: center;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  background-color: black;
}
.item2cont h2 {
  text-align: left;
}
.item2cont {
  order: 2;
  width: 45rem;
  height: 33%;
  margin: 10px 0px 0px 50px;
  padding: 100px 0px 5px 0px;
  text-align: left;

  border-radius: 150px;
}
.item3cont {
  padding: 10px 50px 20px 150px;
  text-align: left;
}
iframe {
  width: 95%;
}
/*
Ariel Serur calendario curso
*/
.calendarioCursos h2 {
  text-align: center;
  margin: 5rem;
}
.calendarioCursos h3 {
  margin: 10px 0px 0px 50px;
}
.calendarioCursos h3:last-of-type {
  border-top: 1px solid var(--colorSecundario);
  padding-top: 30px;
  width: 90%;
}
.tituloFiltrar {
  display: flex;
  margin: 20px 200px 20px 20px;
  padding: 0cm 0cm 0cm 5cm;
  align-items: flex-start;
  justify-content: flex-end;
}
.mes1CalCurso {
  display: flex;
  height: auto;
  padding: 20px 20px 20px 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.esta1 {
  gap: 20px;
  display: flex;
  width: 90%;
  height: 33%;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  /*estilo del la caja*/
  background-color: var(--colorSecundario);
  box-sizing: border-box;
  border-radius: 20px;
  -webkit-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.58);
}
.fotoCal {
  width: 100%;
  height: 100%;
}
.datoCal h4 {
  font-size: 110%;
}
.datoCal p {
  font-size: 80%;
  line-height: 25px;
}

.datoCal {
  color: #fff;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
