*{
    margin:0;
    padding:0;

}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#5d423f;

}

header{
    text-align: center;
    background-color: #8c6150;
    margin-bottom: 15px;
    color:white;
    padding:10px;
    border-bottom: 4px solid#5d423f;
}
footer{
  
    text-align: center;
    background-color: #8c6150;
    margin-bottom: 15px;
    color:white;
    padding:10px;
    border-top: 4px solid#5d423f;
    font-style: italic;
}
footer a{
    color:white;
}
footer a:hover{
    color:rgb(0, 0, 0);

}

main{
    width:80%;
    margin:auto;
    
}

h2{
    background-color: #5d423f;
    color:white;
    padding:7px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 30%;
}
h3{
    border-bottom: 2px dotted #5d423f;
    margin-top: 15px;
    font-size: 16px;



}

li{
    margin-left: 25px;
    margin-bottom: 10px;
}
.arriba{
    text-align: right;
}

.arriba a{
    color:#5d423f;
    text-decoration: none;
}
.arriba a:hover{
    color:rgb(0, 0, 0);
}


