@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  
  
}

  
.imag1{
  max-width: 1000px;
  width: 100%;
  text-align: left;
  float:left;
  margin-left: 2%;
  
}

@media  (max-width: 564px) {
  .imag1{
    width: 150%;
    text-align: left;
    float:left;
    margin-left: 2%;
  }
  }


.menu{
  float: left;
  color:transparent;
  font-size: auto;
  padding:5px;
  
}

.navbar {
  grid-area: navbar;
  
  
}

.sidebar {
  grid-area: sidebar;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
  
}

.main {
  grid-area: main;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
 
}

.footer {
  grid-area: footer;
  
}

.grid-container {
  display: grid;
  
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}



@media  (min-width: 700px) {
  .grid-container {
    grid-template:
      "header  navbar navbar"  100px
      " main   main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}



@media  (max-width: 700px) {
  .header{
    width:30%;
  }
}


@media  (max-width: 700px) {
  .menu{
    width: auto;
    font-size:0.5em;
  }
}

@media (max-width:240px){
  .grid-container {
    grid-template:
      "header  navbar navbar"  100px
      " main   main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
    

  }
}
.icono1{
  width: 20%;
  margin-left: auto;
  border-radius:50% ;
  float: right;

}
.icono2{
  width: 0%;
  margin-left: auto; ;
  border-radius:50% ;
  float: right;
}
.icono3{
  width: 20%;
  margin-left: auto;
  float: right;
}

